@charset "UTF-8";

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg') center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #007BFF;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}
